[defaults]
inventory = inventories/test.ini
# Default True. Override at runtime with ANSIBLE_HOST_KEY_CHECKING=False only if required.
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
